<div style="margin-top: 4rem;">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 15%; background-color:rgb(44, 41, 41) ;">
            <div style="margin-top: 10rem; margin-left: 1rem;">                <button class="btn btn-link" style="color: white;" routerLink="profile">
                    <h6><u> View your profile</u></h6>
                </button>
                <button class="btn btn-link" style="color: white;" routerLink="pick">
                    <h6><u>Test your knowledge</u></h6>
                </button>
            </div>
        </mat-sidenav>

        <mat-sidenav-content style="text-align: center; background-color:rgb(44, 41, 41) ;color: blanchedalmond;">
            <p style="margin: 0; padding: 0; "> 
                <em><mat-checkbox [(ngModel)]="opened">Show side navigation</mat-checkbox></em>
            </p>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>