<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header">Quiz Ninja Menu</a>
             <a class="dropdown-item" routerLink="/home">Home</a>
             <div *ngIf="authenticationService.isGuest()" >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/quiz">Quick test</a>
             </div>
             <div *ngIf="authenticationService.isCoach()">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/coach/manage">Add test</a>
             </div>
             <div *ngIf="authenticationService.isStudent()">
                <div class="dropdown-divider" ></div>
                <a class="dropdown-item" routerLink="/student/pick">Pass test</a>
             </div>
             <div *ngIf="authenticationService.isGuest()" >
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" routerLink="/login">Login</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" routerLink="/register">Register</a>
            </div>
            </div>
         </div>
      </div>
        <div class="navbar-translate">
            <a class="navbar-brand" placement="bottom" ngbTooltip="Designed by Invision. Coded by Creative Tim">
                Menu
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">

            <ul class="navbar-nav ml-auto">
                <li *ngIf="!authenticationService.isGuest()" class="nav-item">
                    <a class="nav-link btn btn-neutral" [routerLink]="authenticationService.isStudent()?'/student/profile':'/coach/profile'">
                        <i class="now-ui-icons users_single-02"></i>
                        <p style="padding-left: 5px;">Welcome {{authenticationService.getUser()}}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">
                        <p>Home</p>
                    </a>
                </li>
              <li *ngIf="authenticationService.isGuest()" class="nav-item">
                  <a class="nav-link" routerLink="/login">
                      <p>Login</p>
                  </a>
              </li>
                <li *ngIf="authenticationService.isGuest()" class="nav-item">
                    <a class="nav-link"routerLink="/register">
                      <p>Register</p>
                    </a>
                </li>
                <li *ngIf="authenticationService.isGuest()" class="nav-item">
                    <a class="nav-link btn btn-neutral" routerLink="/quiz">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                        <p style="padding-left: 5px;">Quik Test</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!authenticationService.isGuest()">
                    <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
