.example-full-width {
    width: 100%;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  :host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px;
}