<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
      </div>
      <div class="container">
          <div class="content-center">
              <div class="photo-container">
                  <img src="assets/img/ryan.jpg" alt="">
              </div>
              <h3 class="title">{{coachDetails?.firstName}} {{coachDetails?.lastName}}</h3>
              <p class="category">{{coachDetails?.email}}</p>
              <div class="content">
                  <div class="social-description">
                      <h2>{{testsAdded?._embedded.tests.length}}</h2>
                      <p>Total Contribution</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section">
      <div class="container">
        <div class="button-container">
            <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
            <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
              <i class="fab fa-instagram"></i>
            </a>
        </div>
        <h3 class="title">About me</h3>
        <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
          <div class="row">
              <div class="col-md-12">
                  <h4 class="title text-center">My Portfolio</h4>
                  <table class="table" *ngIf="testsAdded?._embedded.tests.length>0">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Category</th>
                        <th scope="col">Level</th>
                        <th scope="col">Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let test of testsAdded?._embedded.tests, let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{testsAdded?._embedded.tests[i].categorie}}</td>
                        <td>{{testsAdded?._embedded.tests[i].testLevel}}</td>
                        <td>
                          <i class="material-icons" style="margin-right: 10px; color: teal;">
                            edit
                          </i>
                          <i class="material-icons" style="color: red;">
                            delete_forever
                          </i> 
                        </td>
                      </tr>
                    </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>