<div class="wrapper">
  <div class="page-header clear-filter" filter-color="blue">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/Back0.jpg');">
    </div>
      <div class="container">
        <div class="row">
          <div style="margin-top: 15%;" class=" col-md-6 col-sm-12 content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">The Quiz Ninja.</h1>
              <h3>A free quiz platform to boost your capabilities.</h3>
              <button class="btn btn-primary btn-round" type="button" routerLink="/home">
                <i class="now-ui-icons media-1_button-play"></i> Get Started
              </button>
          </div>
        </div>
      </div>

  </div>
</div>
